## Importación de librerías

In [1]:
#Trataiento de datos.
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------

#Exploración de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_union as su
#--------------

## Carga de archivos

In [ ]:
# Importación de archivo amazon_sales

amazon_sales = pd.read_excel('../data/amazon_sales.xlsx')

su.union_archivos(amazon_sales)

,Row_ID,Order_ID,Order_Date,Date_Key,Contact_Name,Country,City,Region,Subregion,State,Customer_ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit,Customer
25680,5693,177836,2021-12-10,20211210,Alexandra May,China,Beijing,APJ,APAC,Received by the customer,1095,Retail,Strategic,Site Analytics,2TOJ61PBMV,134.99,1,0,53.99600,Walgreens
59803,9834,211959,2023-09-15,20230915,Irene Graham,Mexico,Toluca,AMER,LATAM,Received by the customer,1028,Tech,Strategic,Data Smasher,PK6HC7MJ15,8959.44,7,2,3512.10048,Sony
32826,2845,184982,2022-12-28,20221228,Nathan McGrath,Australia,Gold Coast,APJ,ANZ,Cancelled,1074,Healthcare,Strategic,FinanceHub,2ZM2MTQWNZ,8454.88,8,3,3280.49344,Pfizer
55561,5592,207717,2020-10-13,20201013,Michael Forsyth,Argentina,Buenos Aires,AMER,LATAM,Received by the customer,1043,Manufacturing,Strategic,FinanceHub,UVE4D9ST5V,245.98,2,0,98.39200,Siemens
3610,3611,155766,2020-04-28,20200428,Robert McGrath,Mexico,Monterrey,AMER,LATAM,Received by the customer,1095,Retail,Strategic,Marketing Suite - Gold,JMCGFFVCQX,1775.68,2,2,696.06656,Walgreens

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 59964 filas y 20 columnas

In [ ]:
# Importación de archivo amazon_customers

amazon_customers = pd.read_excel('../data/amazon_customers.xlsx')

su.union_archivos(amazon_customers)

    customer_id  customer_age  gender signup_date  prime_member
4          1005          35.0    Male  2020-02-11          True
71         1074          36.0  Female  2023-11-12         False
31         1032          57.0  Female  2021-02-18         False
83         1086           NaN  Female  2019-04-04          True
89         1092          53.0    Male  2019-11-07         False

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 99 filas y 5 columnas

## Unión de tablas

In [ ]:
# Unión de ambas tablas por las columnas comunes 'Customer_ID' y 'customer_id'
# Al integrar ambos conjuntos de datos mediante un 'inner join' no serán incluidos en el análisis los clientes que no hayan realizado pedidos.

data_raw = amazon_customers.merge(amazon_sales, left_on='customer_id', right_on='Customer_ID', how='inner')

su.union_archivos(data_raw)

,customer_id,customer_age,gender,signup_date,prime_member,Row_ID,Order_ID,Order_Date,Date_Key,Contact_Name,Country,City,Region,Subregion,State,Customer_ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit,Customer
49258,1083,NaN,Female,2022-04-09,False,4201,156356,2021-12-10,20211210,Amelia Campbell,United Kingdom,London,EMEA,UKIR,Cancelled,1083,Misc,Enterprise,Alchemy,XV3V6BWNFF,7999.84,2,2,3135.93728,Glencore
46326,1078,66.0,Male,2022-01-15,True,9751,191888,2022-10-12,20221012,Sean Scott,Australia,Sydney,APJ,ANZ,Cancelled,1078,Finance,SMB,ChatBot Plugin,2MK62JDL1L,53.44,2,2,20.94848,Prudential Financial
6753,1010,21.0,Female,2023-09-12,True,5283,157438,2021-09-05,20210905,Blake Campbell,Luxembourg,Luxembourg,EMEA,EU-WEST,Cancelled,1010,Communications,Strategic,Support,HRIWPLCSRM,36.84,3,0,14.73600,AT&T
33025,1055,49.0,Male,2021-01-28,True,5540,167689,2023-05-23,20230523,Pippa Smith,Australia,Sydney,APJ,ANZ,Received by the customer,1055,Healthcare,SMB,FinanceHub,61J7VBG97V,1819.86,2,3,706.10568,Johnson & Johnson
13719,1022,22.0,Female,2023-06-08,True,3944,186081,2022-06-24,20220624,Ella Rees,United Kingdom,Manchester,EMEA,UKIR,Received by the customer,1022,Communications,SMB,Support,2II03RPO30,835.17,7,0,334.06800,Comcast

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 59964 filas y 25 columnas

In [ ]:
# Borrado de índice 'Row_ID' y de columna 'Customer_ID' sobrante.

data_raw.drop(columns=['Row_ID', 'Customer_ID'], inplace=True)

data_raw.sample(5)

,customer_id,customer_age,gender,signup_date,prime_member,Order_ID,Order_Date,Date_Key,Contact_Name,Country,City,Region,Subregion,State,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit,Customer
31058,1051,22.0,Male,2023-11-04,True,185572,2023-12-06,20231206,Ella Henderson,Canada,Quebec,AMER,NAMER,Cancelled,Tech,SMB,ContactMatcher,N2IBSQQ9ZY,149.76,6,2,58.70592,Intel
46343,1078,66.0,Male,2022-01-15,True,193094,2022-09-02,20220902,Luke Mills,United States,Los Angeles,AMER,NAMER,Received by the customer,Finance,Strategic,SaaS Connector Pack - Gold,DA2GG09L3P,21.88,2,0,8.75200,Prudential Financial
6232,1009,36.0,Male,2021-09-01,True,186747,2021-05-28,20210528,Leonard Dyer,United Kingdom,Liverpool,EMEA,UKIR,NaN,Manufacturing,SMB,Support,E0XK7S73E8,45.36,7,0,18.14400,Ford Motor
5827,1009,36.0,Male,2021-09-01,True,163980,2023-10-22,20231022,Thomas Gibson,Singapore,Singapore,APJ,APAC,Cancelled,Manufacturing,Enterprise,Site Analytics,5A8SNNRLMD,1439.92,8,0,575.96800,Ford Motor
20102,1032,57.0,Female,2021-02-18,False,152574,2023-11-07,20231107,Gordon Chapman,Ireland,Dublin,EMEA,UKIR,Cancelled,Finance,Strategic,Support,J3L0XC6JPU,5.78,1,0,2.31200,Itochu

In [ ]:
# Exportación de dataframe

data_raw.to_csv('../data/data_raw.csv', index=False)