## Importación de librerías

In [6]:
#Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------

#Exploración de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_eda as se
#--------------

## Carga de archivos

In [7]:
df = pd.read_csv('../data/data_raw.csv')

## Analisis EDA preliminar

In [8]:
se.eda_preliminar(df)

,customer_id,customer_age,gender,signup_date,prime_member,Order_ID,Order_Date,Date_Key,Contact_Name,Country,City,Region,Subregion,State,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit,Customer
15663,1024,62.0,Other,2022-07-08,True,209183,2022-12-12,20221212,Leonard Kelly,United States,San Francisco,AMER,NAMER,Cancelled,Energy,SMB,ContactMatcher,4KRRJZQW5E,8921.36,7,2,3497.17312,ConocoPhillips
17944,1029,31.0,Male,2023-09-17,True,154853,2020-03-18,20200318,Diane Murray,Germany,Berlin,EMEA,EU-WEST,Cancelled,Healthcare,Enterprise,Big Ol Database,SGJPOTVE6H,NaN,6,5,NaN,Anthem
52852,1089,28.0,Female,2019-03-15,False,179043,2021-05-24,20210524,Simon Hart,Australia,Wollongong,APJ,ANZ,Cancelled,Consumer Products,SMB,ContactMatcher,4TX8IQRCOL,76.56,6,8,28.17408,Nestle
58431,1099,58.0,Male,2019-05-02,True,170117,2022-10-11,20221011,Warren Reid,Russia,Moscow,EMEA,EU-EAST,Received by the customer,Finance,Strategic,Marketing Suite,L2JQ34QKNV,908.82,3,7,338.08104,Wells Fargo
4960,1007,58.0,Female,2022-10-28,True,204289,2022-10-14,20221014,Angela Parsons,Japan,Kanagawa,APJ,JAPN,Received by the customer,Healthcare,SMB,Data Smasher,O4HPCHJ6V5,1919.76,3,2,752.54592,AmerisourceBergen

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 59964 filas y 23 columnas.
-----------------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59964 entries, 0 to 59963
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   59964 non-null  int64
 1   customer_age  53622 non-null  float64
 2   gender        59964 non-null  object
 3   signup_date   59964 non-null  object
 4   prime_member  59964 non-null  bool
 5   Order_ID      59964 non-null  int64
 6   Order_Date    59964 non-null  object
 7   Date_Key      59964 non-null  int64
 8   Contact_Name  59964 non-null  object
 9   Country       59964 non-null  object
 10  City          59964 non-null  object
 11  Region        59964 non-null  object
 12  Subregion     59964 non-null  object
 13  State         56100 non-null  object
 14  Industry      59964 non-null  object
 15  Segment       59964 non-null  object
 16  Product       59964 non-null  object
 17  License       59964 non-null  object
 18  Sales         58794 non-null  float64
 19  Quantity      59964 non-null  int64
 20  Discount      59964 non-null  int64
 21  Profit        58794 non-null  float64
 22  Customer      59964 non-null  object
dtypes: bool(1), float64(3), int64(5), object(14)
memory usage: 10.1+ MB

None

-----------------
NULOS

customer_id      0.000000
customer_age    10.576346
gender           0.000000
signup_date      0.000000
prime_member     0.000000
Order_ID         0.000000
Order_Date       0.000000
Date_Key         0.000000
Contact_Name     0.000000
Country          0.000000
City             0.000000
Region           0.000000
Subregion        0.000000
State            6.443866
Industry         0.000000
Segment          0.000000
Product          0.000000
License          0.000000
Sales            1.951171
Quantity         0.000000
Discount         0.000000
Profit           1.951171
Customer         0.000000
dtype: float64

-----------------
DUPLICADOS
Tenemos un total de 0 duplicados.
-----------------
FRECUENCIA CATEGÓRICAS
GENDER
gender
Female    29856
Male      28638
Other      1470
Name: count, dtype: int64
-------
SIGNUP_DATE
signup_date
2023-02-18    1152
2023-04-15    1104
2021-09-01    1056
2020-07-21    1020
2023-06-08     966
              ...
2023-06-28     288
2019-06-21     264
2023-08-03     234
2021-10-10     234
2024-03-26     132
Name: count, Length: 99, dtype: int64
-------
ORDER_DATE
Order_Date
2022-09-06    228
2023-09-03    216
2022-11-11    210
2023-12-02    204
2023-12-03    204
             ...
2023-09-14      6
2020-01-12      6
2020-08-31      6
2020-09-16      6
2022-08-08      6
Name: count, Length: 1237, dtype: int64
-------
CONTACT_NAME
Contact_Name
Leonard Kelly       222
Tracey Dickens      204
Gordon Parr         204
Amelia Campbell     204
Maria James         192
                   ...
Frank Ferguson        6
Alexander Duncan      6
Brian Campbell        6
Sam Randall           6
Joshua Gibson         6
Name: count, Length: 793, dtype: int64
-------
COUNTRY
Country
United States           12006
United Kingdom           6846
Japan                    5910
France                   3522
Canada                   3036
Australia                2952
Mexico                   2814
Germany                  2298
Brazil                   1530
Sweden                   1494
Chile                    1344
Spain                    1344
Finland                  1104
South Africa             1098
Russia                   1092
India                     894
South Korea               810
Argentina                 780
Ireland                   756
Belgium                   744
Italy                     660
China                     630
Philippines               576
Luxembourg                534
Saudi Arabia              492
Poland                    396
Singapore                 396
Portugal                  366
United Arab Emirates      360
Norway                    336
Ukraine                   318
Turkey                    318
Netherlands               270
Colombia                  252
Czech Republic            252
Israel                    234
Costa Rica                228
New Zealand               222
Greece                    162
Indonesia                 144
Taiwan                    126
Croatia                    72
Egypt                      66
Austria                    60
Denmark                    48
Qatar                      42
Iceland                    24
Slovenia                    6
Name: count, dtype: int64
-------
CITY
City
London           5532
New York City    4440
Paris            3222
Los Angeles      3060
Toronto          2586
                 ...
Huntsville          6
Clinton             6
Oklahoma City       6
Franklin            6
Victoria            6
Name: count, Length: 262, dtype: int64
-------
REGION
Region
EMEA    25314
AMER    21990
APJ     12660
Name: count, dtype: int64
-------
SUBREGION
Subregion
NAMER      15042
EU-WEST     9684
UKIR        7602
LATAM       6948
JAPN        5910
ANZ         3174
NOR         2934
APAC        2682
MEA         2376
EU-EAST     2058
IND          894
EU           660
Name: count, dtype: int64
-------
STATE
State
Received by the customer    42132
Cancelled                   11226
Preparing order              1380
Dispatched to center         1362
Name: count, dtype: int64
-------
INDUSTRY
Industry
Finance              12762
Energy                7896
Tech                  7416
Manufacturing         7332
Healthcare            6294
Consumer Products     6126
Retail                5832
Communications        3558
Transportation        2106
Misc                   642
Name: count, dtype: int64
-------
SEGMENT
Segment
SMB           31146
Strategic     18120
Enterprise    10698
Name: count, dtype: int64
-------
PRODUCT
Product
ContactMatcher                11052
Support                        9360
FinanceHub                     5886
SaaS Connector Pack            5742
Site Analytics                 5334
Marketing Suite - Gold         5076
ChatBot Plugin                 4776
Data Smasher                   4650
OneView                        2796
SaaS Connector Pack - Gold     1524
Marketing Suite                1368
Storage                        1302
Big Ol Database                 690
Alchemy                         408
Name: count, dtype: int64
-------
LICENSE
License
6QHQUNX985    6
05M7F9549P    6
N8T6S8H6I0    6
ZNKW3H6PN4    6
1FT1549R5E    6
             ..
E988KN4FJ9    6
BF1A9H71L5    6
LXULGRNB0O    6
WGGGZ2ELS4    6
M0DZ8L3UYU    6
Name: count, Length: 9994, dtype: int64
-------
CUSTOMER
Customer
Allianz               1152
Tyson Foods           1104
Ford Motor            1056
Siemens               1020
Comcast                966
                      ...
Tesco                  288
Alphabet               264
Berkshire Hathaway     234
Safeway                234
Citigroup              132
Name: count, Length: 99, dtype: int64
-------
-----------------
ESTADÍSTICOS NUMÉRICAS

,count,mean,std,min,25%,50%,75%,max
customer_id,59964.0,1049.77,29.72,1001.00,1024.00,1049.00,1076.00,1101.00
customer_age,53622.0,43.50,16.09,18.00,31.00,41.00,58.00,74.00
Order_ID,59964.0,182137.50,17310.26,152156.00,167146.75,182137.50,197128.25,212119.00
Date_Key,59964.0,20218026.47,11238.51,20200104.00,20210523.00,20220627.00,20230515.00,20231231.00
Sales,58794.0,1140.69,5226.73,0.18,25.92,111.68,539.92,239626.56
Quantity,59964.0,3.79,2.23,1.00,2.00,3.00,5.00,14.00
Discount,59964.0,1.75,3.12,0.00,0.00,2.00,2.00,45.00
Profit,58794.0,422.65,1694.60,0.07,10.16,43.81,212.56,65178.42