## Importación de librerías

In [15]:
#Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------

#Exploración de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_limpieza as sl
#--------------

## Carga de archivos

In [16]:
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,customer_id,customer_age,gender,signup_date,prime_member,Order_ID,Order_Date,Date_Key,Contact_Name,Country,City,Region,Subregion,State,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit,Customer
34719,1057,39.0,Female,2020-06-30,False,198413,2021-11-20,20211120,Molly Turner,Mexico,Mexico City,AMER,LATAM,NaN,Retail,SMB,SaaS Connector Pack,YK9E0GPOAX,638.24,2,2,250.19008,Kroger
59240,1100,18.0,Female,2021-07-09,True,190960,2023-11-04,20231104,Audrey Hardacre,Germany,Nuremberg,EMEA,EU-WEST,Dispatched to center,Finance,SMB,ChatBot Plugin,HSHK391Q1J,559.84,2,2,219.45728,Trafigura Group
52862,1089,28.0,Female,2019-03-15,False,179928,2022-11-05,20221105,Carol Ball,Sweden,Stockholm,EMEA,NOR,Received by the customer,Consumer Products,Strategic,Support,WN59V2VY75,1853.76,2,2,726.67392,Nestle
35913,1060,40.0,Male,2021-04-02,True,176423,2022-04-17,20220417,Kevin Wilkins,Argentina,Buenos Aires,AMER,LATAM,Received by the customer,Retail,Strategic,ContactMatcher,T5AHEGYFI7,2.53,5,0,1.01200,Lowes
16332,1026,68.0,Female,2019-07-06,False,172126,2022-12-07,20221207,Lisa Peake,United States,New York City,AMER,NAMER,Received by the customer,Retail,Enterprise,Site Analytics,634OHSS7UQ,2495.84,2,2,978.36928,CVS Health

In [ ]:
# Copia de dataframe
df = df_raw.copy()

## Limpieza de datos

In [ ]:
# Conversión de nobmres de columnas a minúscula
df.columns = df.columns.str.lower()

In [ ]:
# Conversión de columnas order_date y signup_date a formato datetime
df['order_date'] = pd.to_datetime(df['order_date'], format = '%Y-%m-%d')
df['signup_date'] = pd.to_datetime(df['signup_date'], format = '%Y-%m-%d')

In [ ]:
# Creación de columnas de order_year y order_month para luego analizar los pedidos por año

df['order_year'] = df['order_date'].dt.year
df['order_month']  = df['order_date'].dt.month

In [ ]:
# Exportación de archvio data_limpios
#df.to_csv('../data/data_limpios.csv', index=False)